FTGO_ENV=local
FTGO_LOG_LEVEL=INFO
FTGO_CONSUMER_DATABASE_URL=postgresql+psycopg://ftgo:ftgo@localhost:15432/consumer_db
FTGO_RESTAURANT_DATABASE_URL=postgresql+psycopg://ftgo:ftgo@localhost:15432/restaurant_db
FTGO_ORDER_DATABASE_URL=postgresql+psycopg://ftgo:ftgo@localhost:15432/order_db
FTGO_KITCHEN_DATABASE_URL=postgresql+psycopg://ftgo:ftgo@localhost:15432/kitchen_db
FTGO_CONSUMER_SERVICE_URL=http://localhost:8001
FTGO_RESTAURANT_SERVICE_URL=http://localhost:8002
FTGO_KITCHEN_SERVICE_URL=http://localhost:8004
FTGO_AMQP_URL=amqp://ftgo:ftgo@localhost:5672/
