@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #f6f0e8;
  background-color: #111111;
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
